<div style="margin: 0 auto;width:500px;margin-top:50px">
  <h1 style="text-decoration:underline"> WILDLIFE TRACKER </h1>

  <div style="margin: 0 auto;width:350px">
    <h3> Manage Database </h3>
    <a href="list_all"><p> List all Species &amp; Locations </p></a>
    <a href="new_species"><p> Create new species </p></a>
    <a href="new_location"><p> Create new location </p></a>

    <h3> New Sighting </h3>
    <a href="new_sighting"><p> Click Here! </p></a>

  </div>
</div>
