<div style="margin: 0 auto;width:500px;margin-top:50px">
  <h3> New Location Entry </h3>

  <form action="create_location" method="post">
    <label for="location_name"> Name </label>
    <input for="location_name" name="name" text="text">
    <button> Add Location </button>
  </form>

  <a href="/"><p> Return to homepage </p></a>
</div>
