<div style="margin: 0 auto;width:500px;margin-top:50px">
  <h3> New Species Entry </h3>

  <form action="create_species" method="post">
    <label for="species_name"> Name </label>
    <input for="species_name" name="name" text="text">
    <button> Add Species </button>
  </form>

  <a href="/"><p> Return to homepage </p></a>
</div>
