<div style="margin: 0 auto;width:500px;margin-top:50px">
  <h3> New Sighting Entry </h3>

  <form action="create_sighting" method="post">
    <label for="species_name"> Species </label>
    <input for="species_name" name="spec_name" text="text">
    <label for="location_name"> Location </label>
    <input for="location_name" name="loc_name" text="text">
    <button> Add Sighting </button>
  </form>

  <a href="/"><p> Return to homepage </p></a>
</div>
